/* here is the general content */
html{
    scroll-behavior: smooth;
}

.skip a {
    position: absolute;
    top: -40px;
}

.skip a:focus {
    position: absolute;
    top: 20px;
}

button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #333;
}

#backgroundVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -100;
    object-fit: cover;
}

h4, p {
    line-height: 1.6;
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 10px;
    text-align: right;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
}

nav .logo{
    text-align: left;
    align-items: center;
}

nav ul li a.active {
    background-color: #ffffff; 
    color: #333; 
    padding: 5px 10px;
    border-radius: 5px; 
}

.logo img{
    position: absolute;
    top: 15px;
    left: 30px;
    height: 50px;
    width: auto;

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Mukta', sans-serif;
    background-color: #333;
}
/* end of the general content */


/* index.html */

.trailor {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.trailor iframe {
    width: 1200px;
    height: 675px;
}

main {
    margin-top: 50px;
}

#home-about {
    text-align: center;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    background-color: transparent;
    transition: transform 0.3s ease;
}

#home-about:hover {
    transform: scale(1.05);
}

.media-scroller {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    position: relative;
}

.description {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.media-element:hover .description {
    visibility: visible;
    opacity: 1;
}

.media-element {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 8px;
}

.media-element img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.media-scroller:focus {
    outline: 2px solid blue; /* Example style for focus indication */
}
/* end of index.html */


/* merchandise.html */
.card {
    perspective: 1000px;
}

.card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

.card-front {
    background: #fff;
    color: black;
}

.card-back {
    background: #333;
    color: white;
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: auto;
}

.merch-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.75);;
    border-radius: 8px;
}

.merch-item {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 400px;
    box-sizing: border-box;
}

.merch-item:hover {
    border-color: #949494;
    border-width: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.merch-item img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    transition: opacity 0.3s;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.merch-item .card-inner .card-back {
    background: transparent;
}

.card-back {
    transform: rotateY(180deg);
}

.is-flipped {
    transform: rotateY(180deg);
}

.merch-item h3 {
    margin: 0;
    color: #333;
}

.merch-item p {
    color: #666;
    perspective: 1000px;
}

.merch-item .price {
    font-weight: bold;
    color: #666;
}

/* end of merchandise.html */

/* album.html */
.preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
    background-color: rgba(51, 51, 51, 0.75);
}

.preview img {
    width: 100%;
    height: auto;
}

.preview img:nth-child(1), .preview img:nth-child(2) {
    grid-column: span 3;
}

section {
    margin: 1em 5%;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bottom-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    grid-row: 2;
    width: 100%;
}

#track-list, .right-section {
    height: auto;
}

#track-list ul {
    list-style-type: none;
    padding: 0;
}

#track-list li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#track-list, .spotify-playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.spotify-playlist {
    text-align: center; /* Centering the playlist */
    padding-top: 15px;
    order: -1;
}

.right-section {
    display: flex;
    flex-direction: column;
}

.album-page {
    background-image: url('../images/tracklist.jpg');
    background-size: cover; /* Ensures the background covers the entire area */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
}

.image-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#large-image-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

#large-image-container img {
    max-width: 100%;
    height: auto;
}

#prev-button, #next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev-button { left: 10px; }
#next-button { right: 10px; }

.image-scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    width: 100%;
}

.preview-image {
    width: 80px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}

.preview img, #large-image-container img {
    width: 100%;
    height: auto;
}

.content-container {
    display: grid;
    grid-template-rows: auto 1fr; /* First row for album info, second row for others */
    gap: 20px;
    padding: 20px;
    padding-right: 20px;
}

#album-info, #track-list {
    background-color: #333;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
}

#album-info {
    grid-row: 1; /* Album info in the first row */
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

#track-list, .spotify-playlist {
    flex: 1; /* Each child takes up equal width */
    min-height: 0;
}

.large-image-container {
    width: auto;
    height: 300px;
}

.youtube-links {
    grid-area: videos;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.youtube-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.youtube-links a:hover {
    color: #b35400;
    text-decoration: underline;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.video-container iframe {
    max-width: 560px;
    width: 100%;
    height: 315px;
    border-radius: 8px;
}


#track-list {
    grid-column: 1;
    max-height: 800px;
    overflow-y: auto;
    padding: 5px;
}

.right-section {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* end of album.html */

@media (min-width: 801px){
    #large-image-container img {
        width: 41%;
}}

/* Start of Mobile Styles */
@media (max-width: 800px) {

    /* Adjust nav bar for mobile */
    nav ul li {
        display: block;
        margin-right: 0;
        text-align: center;
        margin-bottom: 25px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
    }

    #large-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
    }

    #large-image {
        height: 100%;
        width: auto;
        object-fit: contain;
    }

    .bottom-row {
        display: flex;
        flex-direction: column;
    }

    #track-list {
        max-height: 400px;
        overflow-y: auto;
        margin-bottom: 20px;
    }

    .image-scroll-container {
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .preview-image {
        display: none;
    }

    .spotify-playlist {
        max-width: 100%;
        margin: 5px 0;
        padding: 5px;
        border-radius: 4px;
        padding-top: 30px;
    }
    
    .spotify-playlist iframe {
        height: 80px;
    }
    
    .video-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .youtube-links {
        width: 100%;
    }
    
    .merch-item {
        width: 100%;
        height: auto;
        min-height: 550px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
}
/* End of Mobile Styles */
